<!doctype html>
<html>
<head>
    <meta charset="utf8">
    <title>内容页_杨青个人博客 - 一个站在web前端设计之路的女技术员个人博客网站</title>
    <meta name="keywords" content="个人博客,杨青个人博客,个人博客模板,杨青"/>
    <meta name="description" content="杨青个人博客，是一个站在web前端设计之路的女程序员个人网站，提供个人博客模板免费资源下载的个人原创网站。"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/info.css" rel="stylesheet">
    <link href="/static/css/m.css" rel="stylesheet">
    <script>
        window.onload = function () {
            var oH2 = document.getElementsByTagName("h2")[0];
            var oUl = document.getElementsByTagName("ul")[0];
            oH2.onclick = function () {
                var style = oUl.style;
                style.display = style.display == "block" ? "none" : "block";
                oH2.className = style.display == "block" ? "open" : ""
            }
        }
    </script>
</head>
<body>
<header>
    <div id="mnav">
        <h2><span class="navicon"></span></h2>
        <ul>
            <li><a href="{% url 'index' %}">网站首页</a></li>
            <li><a href="about.html">关于我</a></li>
            <li><a href="share.html">模板分享</a></li>
            <li><a href="list.html">学无止境</a></li>
            <li><a href="list.html">慢生活</a></li>
            <li><a href="link.html">博客导航</a></li>
            <li><a href="gbook.html">留言</a></li>
        </ul>
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">网站首页</a></li>
            <li><a href="about.html">关于我</a></li>
            <li><a href="share.html">模板分享</a></li>
            <li><a href="list.html">学无止境</a></li>
            <li><a href="list.html">慢生活</a></li>
            <li><a href="link.html">博客导航</a></li>
            <li><a href="gbook.html">留言</a></li>
        </ul>
    </nav>
</header>
<article>

    <div class="infos">
        {% for article in article_list %}
            <div class="newsview">
                <h2 class="intitle">您现在的位置是：<a href="/">网站首页</a>&nbsp;&gt;&nbsp;<a href="/">学无止境</a>&nbsp;&gt;&nbsp;<a
                        href="/">{{ article.title }}</a></h2>
                <h3 class="news_title">{{ article.name }}</h3>
                <div class="news_author"><span class="au01">杨青</span><span
                        class="au02">{{ article.create_time }}</span><span
                        class="au03">共<b>{{ article.view }}</b>人围观</span>
                </div>
                <div class="tags">
                    {% for tag in article.tags.all %}
                        <a href="#">{{ tag.name }}</a>
                    {% endfor %}
                </div>
                <div class="news_infos">
                    <p>{{ article.content }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="nextinfo">
        {% if article_list.has_previous %}
            <p>上一篇：<a href="{% url 'blog:info' %}?cid={{ article_list.previous_page_number }}">{{ article_pre.title }}</a></p>
        {% else %}
            <p>没有上一篇文章了</p>
        {% endif %}
        {% if article_list.has_next %}
            <p>下一篇：<a href="{% url 'blog:info' %}?cid={{ article_list.next_page_number }}">{{ article_next.title }}</a></p>
        {% else %}
            <p>没有下一篇文章了</p>
        {% endif %}
    </div>
    <div class="otherlink">
        <h2>相关文章</h2>
        <ul>
            <li><a href="/" title="云南之行――丽江古镇玉龙雪山">云南之行――丽江古镇玉龙雪山</a></li>
            <li><a href="/" title="云南之行――大理洱海一日游">云南之行――大理洱海一日游</a></li>
            <li><a href="/" target="_blank">住在手机里的朋友</a></li>
            <li><a href="/" target="_blank">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></li>
            <li><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></li>
            <li><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码...</a></li>
        </ul>
    </div>
    <div class="news_pl">
        <h2>文章评论</h2>
        <ul>
        </ul>
    </div>

</article>
<footer>
    <p>Design by <a href="/">杨青个人博客</a> <a href="/">蜀ICP备11002373号-1</a></p>
</footer>
</body>
</html>
